---
layout: layouts/home.njk
eleventyNavigation: false
numberOfLatestPostsToShow: 3
---

{# eleventyNavigation: false
  key: Home
  order: 1 #}
<div class="mt-12">
    <div class="text-slate-500 text-2xl font-bold tracking-tight">
        <h1>
            <a href="/blog/">All Notes</a>
        </h1>
    </div>
    {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
    {% set postslistCounter = postsCount %}
    {% include "postslist.njk" %}
</div>