<ol reversed>
    {% for post in postslist | reverse %}
        <li class="{% if post.url == url %} postlist-item-active{% endif %} text-slate-500 text-base font-medium leading-[150%] items-start w-[350px] max-w-full mt-6">
            <a href="{{ post.url }}" class="text-slate-500 text-base font-medium leading-[150%] items-start w-[350px] max-w-full mt-6" ">
                {% if post.data.title %}
                    {{ post.data.title }}
                {% else %}
                    <code>{{ post.url }}</code>
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ol>